<!DOCTYPE html>
<html lang="en">
<head>
    <title>Case Note</title>
    <%- include("fontLinks") -%>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
</head>
<body>
    <%-include("header")-%>
    <div class="bodyContent">
        <!-- <img src="" /> -->
        <p class="clientNameHeader">Case Note for Client: <%=locals.theClient.getFirstName() +
            " " + locals.theClient.getLastName()%></p>
        <div class="tabContainer">
            <div class="caseNoteContent">
                <div class="cn_subject">
                    <label for="subject">Subject:</label>
                    <input type="text" id="subject" name="subject" width="64" value="<%= locals.method === 'new' ? '' : locals.note.getSubject() %>"/>
                </div>
                <div class="cn_program">
                    <label for="program">Program:</label>
                    <select name="program" id="program">
                        <%
                            let programs = locals.theClient.getPrograms().getNames();
                            let selectedProgram = locals.method === "new" ? '' : locals.note.getProgram();
                        %>
                        <option value="">Select Program</option>
                        <% programs.forEach((program) => { %>
                        <option value="<%=program%>" <%= locals.method === 'viewedit' && selectedProgram == program ? "selected" : "" %>> <%=program%> </option>
                        <%
                        })
                        %>
                    </select>
                </div>
                <div class="cn_date_of_case">
                    <label for="date_of_case">Date of Meeting/Activity:</label>
                    <input type="date" name="date_of_case" id="date_of_case" required="required" max="<%= new Date().toISOString().slice(0, 10) %>" value="<%= locals.method === 'new' ? '' : new Date(locals.note.getDateOfEvent()).toISOString().slice(0, 10) %>" />
                </div>
                <div></div>
                <div class="cn_contact_type">
                    <label for="contact_type">Contact Type: </label>
                    <p id="contact_type">
                        <input type="radio" name="contact_type" value="In-Person" id="in_person" <%= (locals.method === 'new' || (locals.method === 'viewedit' && locals.note.getContactType() == 'In-Person')) ? "checked" : "" %> />
                        <label for="in_person">In-Person</label>
                        <input type="radio" name="contact_type" value="Written" id="written" <%= locals.method === 'viewedit' && locals.note.getContactType() == 'Written' ? "checked" : "" %> />
                        <label for="written">Written</label>
                        <input type="radio" name="contact_type" value="Over the Phone" id="over_the_phone" <%= locals.method === 'viewedit' && locals.note.getContactType() == 'Over the Phone' ? "checked" : "" %> />
                        <label for="over_the_phone">Over the Phone</label>
                    </p>
                </div>
                <div class="cn_goal_worked_on">
                    <label for="goal_worked_on">Goal Worked on: </label>
                    <p id="goal_worked_on">
                        <input type="radio" name="goal_worked_on" value="ISP Goal" id="isp_goal" <%= (locals.method === 'new' || (locals.method === 'viewedit' && locals.note.getGoalWorkedOn() == 'ISP Goal')) ? "checked" : "" %> />
                        <label for="isp_goal">ISP Goal</label>
                        <input type="radio" name="goal_worked_on" value="IPP Goal" id="ipp_goal" <%= locals.method === 'viewedit' && locals.note.getGoalWorkedOn() == 'IPP Goal' ? "checked" : "" %> />
                        <label for="ipp_goal">IPP Goal</label>
                        <input type="radio" name="goal_worked_on" value="Personal Goal" id="personal_goal" <%= locals.method === 'viewedit' && locals.note.getGoalWorkedOn() == 'Personal Goal' ? "checked" : "" %> />
                        <label for="personal_goal">Personal Goal</label>
                    </p>
                </div>
                <div class="cn_narrative">
                    <label for="narrative">Narrative: </label>
                    <textarea id="narrative" name="narrative"><%= locals.method === 'new' ? '' : locals.note.getNarrative() %></textarea>
                </div>
                <div class="cn_progress_on_goal">
                    <label for="progress_on_goal">Progress on Goal: </label>
                    <textarea id="progress_on_goal" name="progress_on_goal"><%= locals.method === 'new' ? '' : locals.note.getProgressOnGoal() %></textarea>
                </div>
                <div class="cn_next_steps">
                    <label for="next_steps">Next Steps: </label>
                    <textarea id="next_steps" name="next_steps"><%= locals.method === 'new' ? '' : locals.note.getNextSteps() %></textarea>
                </div>
                <div class="cn_empl_signoff">
                    <label for="empl_signoff">Employee Sign-Off: </label>
                    <input type="text" id="empl_signoff" name="empl_sign_off" value="<%= locals.method === 'new' ? '' : locals.note.getEmployeeSign() %>"/>
                </div>
                <div class="cn_date_of_signoff">
                    <label for="date_of_signoff">Date of Sign-Off: </label>
                    <input type="date" id="date_of_signoff" name="date_of_signoff" required="required" max="<%= new Date().toISOString().slice(0, 10) %>" value="<%= (locals.method === 'new' || locals.note.getSignDate() == undefined) ? new Date().toISOString().slice(0, 10) : new Date(locals.note.getSignDate()).toISOString().slice(0, 10) %>"/>
                </div>
            </div>
        </div>
        <dialog id="dialogBox">
            <p> <%= locals.method === 'new' ? "Case Note Successfully Created" : "Case Note Successfully Saved" %></p>
            <div id="dialogButtons">
                <button id="dialogBlack">Okay</button>
            </div>
        </dialog>
    </div>
<footer class="caseNoteFooter">
    <button id="cancelButton" class="dimHover footerButton">Cancel</button>
    <button id="saveButton" class="dimHover footerButton" data-clientid="<%= locals.theClient.getClientID() %>" data-method="<%= locals.method %>" data-noteid="<%= locals.note !== undefined ? locals.note.getNoteID() : '' %>"><%= locals.method === 'new' ? 'Create' : 'Save' %></button>
</footer>

<script src="../js/caseNoteEditing.js" defer="defer"></script>
</body>
</html>