<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Client Details</title>
    <%- include("fontLinks") -%>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Global variables for objects in Client to display -->
    <%
        let primaryInsurance = locals.theClient.getPrimaryInsurance();
        let secondaryInsurance = locals.theClient.getSecondaryInsurance();
        let medicationList = locals.theClient.getMedicationList();
        let vaccinationList = locals.theClient.getVaccinationList();
        let maritalStatusTypes = ["Single", "Married", "Divorced", "Other"];
        let sexTypes = ["Male", "Female", "Other/Unspecified"];
        let supportTeam = locals.theClient.getSupportTeam();
        let caseNotes = locals.theClient.getCaseNoteList();
    %>
</head>
<body>
<%-include("header")-%>
<div class="bodyContent">
    <p class="clientNameHeader">Showing information for
        <% if(locals.theClient){
        %><%= locals.theClient.getFirstName() + " " + locals.theClient.getMiddleName() +
            " " + locals.theClient.getLastName() %><%
        }
        else{
        %> Unknown Client <%
        } %></p>
    <div id="tabContainer" class="tabContainer">
        <div class="tab">
            <button class="tablinks" data-tabName="clientID" id="defaultOpen" >Client ID</button>
            <button class="tablinks" data-tabName="medInfo"> Medical Information</button>
            <button class="tablinks" data-tabName="personalInfo"> Personal Information</button>
            <button class="tablinks" data-tabName="supportTeam"> Support Team</button>
            <button class="tablinks" data-tabName="caseNotes"> Case Notes</button>
        </div>

        <!-- clientID: inputs for firstName, middleName, lastName, email, address,
             DoB (date of birth), sex, maritalStatus -->
        <div id="clientID" class="tabcontent">
            <div class="clientIdContent">
                <div class="cli_fName">
                    <label for="firstName">First Name: </label>
                    <input type="text" placeholder="First Name" height="3" width="50"
                           value="<%= locals.theClient.getFirstName() %>" id="firstName" />
                </div>
                <div class="cli_midName">
                    <label for="middleName">M.I.: </label>
                    <input type="text" placeholder="Middle"
                           value="<%=locals.theClient.getMiddleName()%>" id="middleName" />
                </div>
                <div class="cli_lName">
                    <label for="lastName">Last Name: </label>
                    <input type="text" placeholder="Last Name"
                           value="<%=locals.theClient.getLastName()%>" id="lastName" />
                </div>
                <div class="cli_DoB">
                    <label for="DoB">Date of Birth: </label>
                    <input type="date" placeholder="DoB"
                           value="<%=locals.theClient.getDOB()%>" id="DoB" />
                </div>
                <div class="cli_phone">
                    <label for="phone">Phone Number: </label>
                    <input type="text" placeholder="555-555-5555"
                           value="<%=locals.theClient.getPhoneNumber()%>" id="address" />
                </div>
                <div class="cli_address">
                    <label for="address">Street Address: </label>
                    <input type="text" placeholder="Address"
                           value="<%=locals.theClient.getAddress()%>" id="address" />
                </div>
                <div class="cli_email">
                    <label for="email">Email: </label>
                    <input type="text" placeholder="First Name"
                           value="<%=locals.theClient.getEmail()%>" id="email" />
                </div>
                <div class="cli_sex">
                    <% /** using sexTypes[] to remove current value, and use values as other sex options */
                    sexTypes = sexTypes.filter(e => e !== locals.theClient.getSex())
                    %>
                    <label for="sex">Sex: </label>
                    <select name="sex" id="sex">
                        <option value="<%=locals.theClient.getSex()%>" id="current"> <%=locals.theClient.getSex()%> </option>
                        <option value="<%=sexTypes[0]%>" id="option2"> <%=sexTypes[0]%> </option>
                        <option value="<%=sexTypes[1]%>" id="option3"> <%=sexTypes[1]%> </option>
                    </select>
                </div>
                <div class="cli_maritalStatus">
                    <% /** using maritalStatusTypes[] to remove current value, and use values as other maritalStatus options */
                    maritalStatusTypes = maritalStatusTypes.filter(e => e !== locals.theClient.getMaritalStatus())
                    %>
                    <label for="maritalStatus">Marital Status: </label>
                    <select name="maritalStatus" id="maritalStatus">
                        <option value="<%=locals.theClient.getMaritalStatus()%>" id="current"> <%=locals.theClient.getMaritalStatus()%> </option>
                        <option value="<%=maritalStatusTypes[0]%>" id="option1"><%=maritalStatusTypes[0]%></option>
                        <option value="<%=maritalStatusTypes[1]%>" id="option2"><%=maritalStatusTypes[1]%></option>
                        <option value="<%=maritalStatusTypes[2]%>" id="option3"><%=maritalStatusTypes[2]%></option>
                    </select>
                </div>
<!--                <div class="cli_regionalCenterID">-->
<!--                    <p>Regional Center ID: <br /> </p>-->
<!--                </div>-->
                <div class="cli_photo">
                    <label for="cli_photo">Photo: </label>
                    <img src="<%= locals.theClient.getPictureURL() %>" alt="client_photo" id="cli_photo" />
                </div>
            </div>
        </div>

        <div id="medInfo" class="tabcontent">
            <div class="medContent">
                <div class="medicationListDiv">
                    <table class="medicationList">
                        <caption> Medication List </caption>
                        <tr>
                            <th scope="col"> Medication </th>
                            <th scope="col">PRN</th>
                            <th scope="col">Dosage</th>
                            <th scope="col">Time(s) of Day</th>
                            <th scope="col">Purpose</th>
                            <th scope="col">Possible Side Effects</th>
                            <th scope="col">Prescribing Physician & Speciality</th>
                        </tr>
                        <% medicationList.forEach((medication) => { %>
                        <tr>
                            <td><input type="text" class="medTableInputs" id="medName" value="<%=medication.getName()%>" /></td>
                            <td><input type="text" class="medTableInputs" id="medPrn" value="<%=medication.getPrn()%>" /></td>
                            <td><input type="text" class="medTableInputs" id="medDosage" value="<%=medication.getDosage()%>" /></td>
                            <td><input type="text" class="medTableInputs" id="medTimesOfDay" value="<%=medication.getTimesOfDay()%>" /></td>
                            <td><input type="text" class="medTableInputs" id="medPurpose" value="<%=medication.getPurpose()%>" /></td>
                            <td><input type="text" class="medTableInputs" id="medSideEffects" value="<%=medication.getSideEffects()%>" /></td>
                            <td><input type="text" class="medTableInputs" id="medPrescriber" value="<%=medication.getPrescriber()%>" /></td>
                        </tr>
                        <%
                        })
                        %>
                        <tr>
                            <td><input type="text" value="" /></td>
                            <td><input type="text" value="" /></td>
                            <td><input type="text" value="" /></td>
                            <td><input type="text" value="" /></td>
                            <td><input type="text" value="" /></td>
                            <td><input type="text" value="" /></td>
                            <td><input type="text" value="" /></td>
                        </tr>
                    </table>
                </div>
                <div class="vaccinationListDiv">
                    <table class="vaccinationList">
                        <caption>Vaccinations: </caption>
                        <tr>
                            <th>Shot Type</th>
                            <th>Date Taken</th>
                        </tr>
                        <% vaccinationList.forEach((vaccination, index) => { %>
                        <tr>
                            <td><input type="text" value="<%=vaccination.getShotType()%>" /></td>
                            <td><input type="date" value="<%=vaccination.getDateTaken()%>" /></td>
                        </tr>
                        <%
                        })
                        %>
                        <tr>
                            <td><input type="text" value="" /></td>
                            <td><input type="date" value="" /></td>
                        </tr>
                    </table>
                </div>
                <div class="p_insurance">
                    <label for="p_insurance">Primary Insurance Provider: </label>
                    <input type="text" placeholder="Primary Insurance Provider"
                           value="<%=primaryInsurance.getName()%>" id="p_insurance" />
                </div>
                <div class="p_insurance_num">
                    <label for="p_insurance_num"> Primary Ins. Number: </label>
                    <input type="text" placeholder="000000000"
                           value="<%=primaryInsurance.getPolicyNumber()%>" id="p_insurance_num" />
                </div>
                <div class="s_insurance">
                    <label for="s_insurance"> Secondary Insurance Provider: </label>
                    <input type="text" placeholder="Primary Insurance Provider"
                           value="<%=secondaryInsurance.getName()%>" id="s_insurance" />
                </div>
                <div class="s_insurance_num">
                    <label for="s_insurance_num">Secondary Ins. Number: </label>
                    <input type="text" placeholder="000000000"
                           value="<%=secondaryInsurance.getPolicyNumber()%>" id="s_insurance_num" />
                </div>
                <div class="p_care_provider">
                    <label for="p_care_provider">Primary Care Provider: </label>
                    <input type="text" placeholder="Primary Care Provider"
                           value="<%=locals.theClient.getPcp()%>" id="p_care_provider" />
                </div>
                <div class="p_physician">
                    <label for="p_physician">Primary Physician: </label>
                    <input type="text" placeholder="Primary Physician"
                           value="<%=locals.theClient.getPrimaryPhysician()%>" id="p_physician" />
                </div>
                <div class="pref_hospital">
                    <label for="pref_hospital">Preferred Hospital: </label>
                    <input type="text" placeholder="Preferred Hospital"
                           value="<%=locals.theClient.getPreferredHospital()%>" id="pref_hospital" />
                </div>
            </div>
        </div>

        <div id="personalInfo" class="tabcontent">
            <div class="personalInfoContent">
                <div class="cli_likes">
                    <label for="cli_likes"> Client Likes: </label>
                    <textarea name="client_likes" id="cli_likes"><%=locals.theClient.getLikes()%></textarea>
                </div>
                <div class="cli_dislikes">
                    <label for="cli_dislikes"> Client Dislikes: </label>
                    <textarea name="client_dislikes" id="cli_dislikes"><%=locals.theClient.getDislikes()%></textarea>
                </div>
                <div class="cli_goals">
                    <label for="cli_goals"> Client Goals: </label>
                    <textarea name="client_goals" id="cli_goals"><%=locals.theClient.getGoals()%></textarea>
                </div>
                <div class="cli_hobs">
                    <label for="cli_hobs"> Client Hobbies / Favorite Activities: </label>
                    <textarea name="client_hobbies" id="cli_hobs"><%=locals.theClient.getHobbies()%></textarea>
                </div>
                <div class="cli_ach">
                    <label for="cli_ach"> Client Achievements: </label>
                    <textarea name="client_achievements" id="cli_ach"><%=locals.theClient.getAchievements()%></textarea>
                </div>
                <div class="cli_add_notes">
                    <label for="cli_add_notes"> Additional Notes: </label>
                    <textarea name="client_additional_notes" id="cli_add_notes"><%=locals.theClient.getLikes()%></textarea>
                </div>
            </div>
        </div>

        <div id="supportTeam" class="tabcontent">
            <div class="supportTeamDiv">
                <table class="supportTeam">
                    <tr>
                        <th>Employee Name</th>
                        <th>Title</th>
                        <th>Employee ID Number</th>
                        <th>Date Assigned</th>
                        <th>Date Removed</th>
                    </tr>
                    <% supportTeam.forEach((supportStaff) => { %>
                    <tr>
                        <td><%=supportStaff.getName()%></td>
                        <td><%=supportStaff.getTitle()%></td>
                        <td><%=supportStaff.getIdNumber()%></td>
                        <td><%=new Intl.DateTimeFormat("en-US").format(supportStaff.getDateAssigned())%></td>
                        <td><%=new Intl.DateTimeFormat("en-US").format(supportStaff.getDateRemoved())%></td>
                    </tr>
                    <%
                    })
                    %>
                </table>
            </div>
        </div>

        <div id="caseNotes" class="tabcontent">
            <div class="caseNotes">
                <table class="caseNoteTable">
                    <tr>
                        <th>Subject</th>
                        <th>Date</th>
                        <th>Posted By</th>
                        <th>Program</th>
                    </tr>
                    <% caseNotes.forEach((caseNote) => { %>
                    <tr>
                        <td><%=caseNote.getSubject()%></td>
                        <td><%=caseNote.getDate()%></td>
                        <td><%=caseNote.getEmployeeSign()%></td>
                        <td><%=caseNote.getProgram()%></td>
                    </tr>
                    <%
                    })
                    %>
                </table>
                <div class="caseNoteButtons">
                    <!-- Buttons for CaseNote Navigation, handled with caseNoteHandling.js -->
                    <input type="button" value="new" name="newCaseNote" id="newCaseNote"/>
                    <input type="button" value="edit" name="editCaseNote" id="editCaseNote" />
                    <input type="button" value="view" name="viewCaseNote" id="viewCaseNote" />
                    <input type="button" value="download" name="downloadCaseNote" id="downloadCaseNote" />

                </div>

                <script src="../js/caseNoteHandling.js"></script>
            </div>
        </div>
        <script src="js/tab.js"></script>
    </div>
</div>
<footer class="caseNoteFooter">
    <button id="goBackButton" class="dimHover footerButton">Go Back</button>
    <button id="saveButton" class="dimHover footerButton">Save</button>
</footer>
</body>