<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Client Details</title>
    <%- include("fontLinks") -%>
    <link href="../css/style.css" rel="stylesheet" type="text/css" />
    <meta charset="utf-8" />
    <script src="https://unpkg.com/jspdf@latest/dist/jspdf.umd.min.js" defer="defer" ></script>
    <script src="https://unpkg.com/jspdf-autotable" defer="defer"></script>

<!-- Global variables for objects in Client to display -->
    <%
        let primaryInsurance = locals.theClient.getPrimaryInsurance();
        let secondaryInsurance = locals.theClient.getSecondaryInsurance();
        let medicationList = locals.theClient.getMedicationList();
        let vaccinationList = locals.theClient.getVaccinationList();
        let maritalStatusTypes = ["Single", "Married", "Divorced", "Other"];
        let genderTypes = ["Male", "Female", "Non-Binary", "Agender"];
        let sexTypes = ["M", "F", "X"];
        let supportTeam = locals.theClient.getSupportTeam();
        let caseNotes = locals.theClient.getCaseNoteList();

        let isAdmin = locals.theAccount.admin;
    %>
</head>
<body>
<%-include("header")-%>
<div class="bodyContent" >
    <p class="clientNameHeader" id="clientNameHeader"
       data-clientfullname="<%=  locals.theClient.getFirstName() +  " " + (locals.theClient.getMiddleName() ? locals.theClient.getMiddleName() +
    " " : "") + locals.theClient.getLastName() %>">Showing information for
        <% if(locals.theClient){
        %><%= locals.theClient.getFirstName() + " " + locals.theClient.getMiddleName() +
            " " + locals.theClient.getLastName() %><%
        }
        else{
        %> Unknown Client <%
        } %></p>
    <div id="tabContainer" class="tabContainer" data-user="<%= locals.theAccount.username %>" data-admin="<%= isAdmin %>">
        <div class="tab">
            <button class="tablinks" data-tabName="clientID" id="defaultOpen" >Client ID</button>
            <button class="tablinks" data-tabName="medInfo"> Medical Information</button>
            <button class="tablinks" data-tabName="personalInfo"> Personal Information</button>
            <button class="tablinks" data-tabName="supportTeam"> Support Team</button>
            <button class="tablinks" data-tabName="caseNotes"> Case Notes</button>
        </div>

        <%
            // if admin, make all inputs editable
            // else make all readonly and all selects disabled
        %>

        <!-- clientID: inputs for firstName, middleName, lastName, email, address,
             DoB (date of birth), sex, maritalStatus -->
        <div id="clientID" class="tabcontent">
            <div class="clientIdContent">
                <div class="cli_fName">
                    <label for="firstName">First Name: </label>
                    <input type="text" placeholder="First Name" height="3" width="50" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%= locals.theClient.getFirstName() %>" id="firstName" />
                </div>
                <div class="cli_midName">
                    <label for="middleName">Middle Name: </label>
                    <input type="text" placeholder="Middle Name" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%=locals.theClient.getMiddleName()%>" id="middleName" />
                </div>
                <div class="cli_lName">
                    <label for="lastName">Last Name: </label>
                    <input type="text" placeholder="Last Name" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%=locals.theClient.getLastName()%>" id="lastName" />
                </div>
                <div class="cli_DoB">
                    <label for="DoB">Date of Birth: </label>
                    <input type="date" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%=new Date(locals.theClient.getDOB()).toISOString().slice(0, 10)%>" id="DoB" />
                </div>
                <div class="cli_phone">
                    <label for="phone">Phone Number: </label>
                    <input type="text" placeholder="###-###-####" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%=locals.theClient.getPhoneNumber()%>" id="phoneNumber" />
                </div>
                <div class="cli_address">
                    <label for="address">Street Address: </label>
                    <input type="text" placeholder="Address" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%=locals.theClient.getAddress().getStreetAddress()%>" id="address" />
                </div>
                <div id="cli_city">
                    <label for="city">City: </label>
                    <input type="text" placeholder="City" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%=locals.theClient.getAddress().getCity()%>" id="city" />
                </div>
                <div id="cli_state">
                    <label for="state">State: </label>
                    <input type="text" placeholder="State" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%=locals.theClient.getAddress().getState()%>" id="state" maxlength="2" minlength="2"/>
                </div>
                <div id="cli_zip">
                    <label for="zip">ZIP Code: </label>
                    <input type="text" placeholder="#####" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%=locals.theClient.getAddress().getZip()%>" id="zip" />
                </div>
                <div id="cli_gender">
                    <% /** using genderTypes[] to remove current value, and use values as other sex options */
                    genderTypes = genderTypes.filter(e => e !== locals.theClient.getSex())
                    %>
                    <label for="gender">Gender: </label>
                    <select name="gender" id="gender" <% if (!isAdmin){%>disabled="disabled"<%}%>>
                        <option value="<%=locals.theClient.getSex()%>" id="current"> <%=locals.theClient.getSex()%> </option>
                        <option value="<%=genderTypes[0]%>" id="option2"> <%=genderTypes[0]%> </option>
                        <option value="<%=genderTypes[1]%>" id="option3"> <%=genderTypes[1]%> </option>
                        <option value="<%=genderTypes[2]%>" id="option4"> <%=genderTypes[2]%> </option>
                    </select>
                </div>
                <div class="cli_maritalStatus">
                    <% /** using maritalStatusTypes[] to remove current value, and use values as other maritalStatus options */
                    maritalStatusTypes = maritalStatusTypes.filter(e => e !== locals.theClient.getMaritalStatus())
                    %>
                    <label for="maritalStatus">Marital Status: </label>
                    <select name="maritalStatus" id="maritalStatus" <% if (!isAdmin){%>disabled="disabled"<%}%>>
                        <option value="<%=locals.theClient.getMaritalStatus()%>" id="current"> <%=locals.theClient.getMaritalStatus()%> </option>
                        <option value="<%=maritalStatusTypes[0]%>" id="option1"><%=maritalStatusTypes[0]%></option>
                        <option value="<%=maritalStatusTypes[1]%>" id="option2"><%=maritalStatusTypes[1]%></option>
                        <option value="<%=maritalStatusTypes[2]%>" id="option3"><%=maritalStatusTypes[2]%></option>
                    </select>
                </div>
                <div class="cli_pos">
                    <label for="pos">Next PoS Expiration: </label>
                    <input type="date" <% if (!isAdmin){%>readonly="readonly"<%}%>
                        value="<%= locals.theClient.getPOS() instanceof Date ? locals.theClient.getPOS().toISOString().slice(0, 10) : "" %>" id="pos" />
                </div>
                <div class="cli_email">
                    <label for="email">Email: </label>
                    <input type="text" placeholder="email@example.com" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%=locals.theClient.getEmail()%>" id="email" />
                </div>
                <div id="cli_pronouns">
                    <label for="pronouns">Pronouns: </label>
                    <input type="text" placeholder="xx/xxx" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%=locals.theClient.getPronouns()%>" id="pronouns" />
                </div>
                <div class="cli_photo">
                    <label for="cli_photo">Photo: </label>
                    <img src="<%= locals.theClient.getPictureURL() %>" alt="client_photo" id="cli_photo" height="100%"  />
                </div>
            </div>
        </div>

        <div id="medInfo" class="tabcontent">
            <div class="medContent">
                <div class="medicationListDiv">
                    <table class="medicationList">
                        <caption> Medication List </caption>
                        <tr>
                            <th scope="col" id="medNameCol"> Medication </th>
                            <th scope="col" id="medPrnCol">PRN</th>
                            <th scope="col" id="medDosageCol">Dosage</th>
                            <th scope="col">Time(s) of Day</th>
                            <th scope="col">Purpose</th>
                            <th scope="col">Possible Side Effects</th>
                            <th scope="col">Prescribing Physician & Speciality</th>
                        </tr>
                        <% medicationList.forEach((medication) => { %>
                        <tr>
                            <td><input type="text" class="medTableInputs medName" value="<%=medication.getName()%>" <% if (!isAdmin){%>readonly="readonly"<%}%> /></td>
                            <td><input type="text" class="medTableInputs medPrn" value="<%=medication.getPrn()%>" <% if (!isAdmin){%>readonly="readonly"<%}%> /></td>
                            <td><input type="text" class="medTableInputs medDosage" value="<%=medication.getDosage()%>" <% if (!isAdmin){%>readonly="readonly"<%}%> /></td>
                            <td><input type="text" class="medTableInputs medTimesOfDay" value="<%=medication.getTimesOfDay()%>" <% if (!isAdmin){%>readonly="readonly"<%}%> /></td>
                            <td><input type="text" class="medTableInputs medPurpose" value="<%=medication.getPurpose()%>" <% if (!isAdmin){%>readonly="readonly"<%}%> /></td>
                            <td><input type="text" class="medTableInputs medSideEffects" value="<%=medication.getSideEffects()%>" <% if (!isAdmin){%>readonly="readonly"<%}%> /></td>
                            <td><input type="text" class="medTableInputs medPrescriber" value="<%=medication.getPrescriber()%>" <% if (!isAdmin){%>readonly="readonly"<%}%> /></td>
                        </tr>
                        <%
                        })
                        %>
                        <!--tr>
                            <td><input type="text" value="" <% if (!isAdmin){%>readonly="readonly"<%}%>/></td>
                            <td><input type="text" value="" <% if (!isAdmin){%>readonly="readonly"<%}%>/></td>
                            <td><input type="text" value="" <% if (!isAdmin){%>readonly="readonly"<%}%>/></td>
                            <td><input type="text" value="" <% if (!isAdmin){%>readonly="readonly"<%}%>/></td>
                            <td><input type="text" value="" <% if (!isAdmin){%>readonly="readonly"<%}%>/></td>
                            <td><input type="text" value="" <% if (!isAdmin){%>readonly="readonly"<%}%>/></td>
                            <td><input type="text" value="" <% if (!isAdmin){%>readonly="readonly"<%}%>/></td>
                        </tr-->
                    </table>
                </div>
                <div class="vaccinationListDiv">
                    <table class="vaccinationList">
                        <caption>Vaccinations: </caption>
                        <tr>
                            <th>Shot Type</th>
                            <th>Date Taken</th>
                        </tr>
                        <% vaccinationList.forEach((vaccination, index) => { %>
                        <tr>
                            <td><input type="text" value="<%=vaccination.getShotType()%>" <% if (!isAdmin){%>readonly="readonly"<%}%> /></td>
                            <td><input type="date" value="<%=new Date(vaccination.getDateTaken()).toISOString().slice(0, 10)%>" <% if (!isAdmin){%>readonly="readonly"<%}%> /></td>
                        </tr>
                        <%
                        })
                        %>
                        <!--tr>
                            <td><input type="text" value="" <% if (!isAdmin){%>readonly="readonly"<%}%>/></td>
                            <td><input type="date" value="" <% if (!isAdmin){%>readonly="readonly"<%}%>/></td>
                        </tr-->
                    </table>
                </div>
                <div class="p_insurance">
                    <label for="p_insurance">Primary Insurance Provider: </label>
                    <input type="text" placeholder="Primary Insurance Provider" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%=primaryInsurance.getName()%>" id="p_insurance"
                           data-id="<%= primaryInsurance.getID()%>"/>
                </div>
                <div class="p_insurance_num">
                    <label for="p_insurance_num"> Primary Ins. Number: </label>
                    <input type="text" placeholder="000000000" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%=primaryInsurance.getPolicyNumber()%>" id="p_insurance_num" />
                </div>
                <div class="s_insurance">
                    <label for="s_insurance"> Secondary Insurance Provider: </label>
                    <input type="text" placeholder="Secondary Insurance Provider" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%=secondaryInsurance.getName()%>" id="s_insurance"
                           data-id="<%= secondaryInsurance.getID()%>"/>
                </div>
                <div class="s_insurance_num">
                    <label for="s_insurance_num">Secondary Ins. Number: </label>
                    <input type="text" placeholder="000000000" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%=secondaryInsurance.getPolicyNumber()%>" id="s_insurance_num" />
                </div>
                <div class="p_care_provider">
                    <label for="p_care_provider">Primary Care Provider: </label>

                    <input type="text" placeholder="Primary Care Provider" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%=locals.theClient.getPcp().getName()%>" id="p_care_provider"
                           data-id="<%=locals.theClient.getPcp().getID()%>"/>

                    <label for="p_care_provider_phone">PCP Phone Number: </label>
                    <input type="tel" maxlength="12" placeholder="###-###-####" <% if (!isAdmin){%>readonly="readonly"<%}%>
                        value="<%= locals.theClient.getPcp().getPhoneNumber()%>" id="p_care_provider_phone"/>

                    <label for="p_care_provider_address">PCP Address: </label>
                    <input type="text" placeholder="Address" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%= locals.theClient.getPcp().getAddress()%>" id="p_care_provider_address"/>
                </div>
                <div class="p_physician">
                    <label for="p_physician">Primary Physician: </label>
                    <input type="text" placeholder="Primary Physician" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%=locals.theClient.getPrimaryPhysician().getName()%>" id="p_physician"
                           data-id="<%=locals.theClient.getPrimaryPhysician().getID()%>"/>

                    <label for="p_physician_phone">Phys. Phone Number: </label>
                    <input type="tel" maxlength="12" placeholder="###-###-####" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%= locals.theClient.getPrimaryPhysician().getPhoneNumber()%>" id="p_physician_phone"/>

                    <label for="p_physician_address">Phys. Address: </label>
                    <input type="text" placeholder="Physician's Address" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%= locals.theClient.getPrimaryPhysician().getAddress()%>" id="p_physician_address"/>
                </div>
                <div class="pref_hospital">
                    <label for="pref_hospital">Preferred Hospital: </label>
                    <input type="text" placeholder="Preferred Hospital" <% if (!isAdmin){%>readonly="readonly"<%}%>
                           value="<%=locals.theClient.getPreferredHospital()%>" id="pref_hospital" />
                </div>
                <div id="cli_sex">
                    <% /** using sexTypes[] to remove current value, and use values as other sex options */
                    sexTypes = sexTypes.filter(e => e !== locals.theClient.getSex())
                    %>
                    <label for="sex">Sex: </label>
                    <select name="sex" id="sex" <% if (!isAdmin){%>disabled="disabled"<%}%>>
                        <option value="<%=locals.theClient.getSex()%>" id="current"> <%=locals.theClient.getSex()%> </option>
                        <option value="<%=sexTypes[0]%>" id="option2"> <%=sexTypes[0]%> </option>
                        <option value="<%=sexTypes[1]%>" id="option3"> <%=sexTypes[1]%> </option>
                    </select>
                </div>
            </div>
        </div>

        <div id="personalInfo" class="tabcontent">
            <div class="personalInfoContent">
                <div class="cli_likes">
                    <label for="cli_likes"> Client Likes: </label>
                    <textarea name="client_likes" id="cli_likes" <% if (!isAdmin){%>readonly="readonly"<%}%> ><%=locals.theClient.getLikes()%></textarea>
                </div>
                <div class="cli_dislikes">
                    <label for="cli_dislikes"> Client Dislikes: </label>
                    <textarea name="client_dislikes" id="cli_dislikes" <% if (!isAdmin){%>readonly="readonly"<%}%> ><%=locals.theClient.getDislikes()%></textarea>
                </div>
                <div class="cli_goals">
                    <label for="cli_goals"> Client Goals: </label>
                    <textarea name="client_goals" id="cli_goals" <% if (!isAdmin){%>readonly="readonly"<%}%> ><%=locals.theClient.getGoals()%></textarea>
                </div>
                <div class="cli_hobs">
                    <label for="cli_hobs"> Client Hobbies / Favorite Activities: </label>
                    <textarea name="client_hobbies" id="cli_hobs" <% if (!isAdmin){%>readonly="readonly"<%}%> ><%=locals.theClient.getHobbies()%></textarea>
                </div>
                <div class="cli_ach">
                    <label for="cli_ach"> Client Achievements: </label>
                    <textarea name="client_achievements" id="cli_ach" <% if (!isAdmin){%>readonly="readonly"<%}%> ><%=locals.theClient.getAchievements()%></textarea>
                </div>
                <div class="cli_add_notes">
                    <label for="cli_add_notes"> Additional Notes: </label>
                    <textarea name="client_additional_notes" id="cli_add_notes" <% if (!isAdmin){%>readonly="readonly"<%}%> ><%=locals.theClient.getMiscNotes()%></textarea>
                </div>
            </div>
        </div>

        <div id="supportTeam" class="tabcontent">
            <div class="supportTeamDiv">
                <table class="supportTeam">
                    <tr>
                        <th>Employee Name</th>
                        <th>Title</th>
                        <th>Employee ID Number</th>
                        <th>Date Assigned</th>
                        <th>Date Removed</th>
                    </tr>
                    <% supportTeam.forEach((supportStaff) => { %>
                    <tr>
                        <td><%=supportStaff.getName()%></td>
                        <td><%=supportStaff.getTitle()%></td>
                        <td><%=supportStaff.getIdNumber()%></td>
                        <td><%=new Intl.DateTimeFormat("en-US").format(supportStaff.getDateAssigned())%></td>
                        <td><%=(supportStaff.getDateRemoved() instanceof Date) ? new Intl.DateTimeFormat("en-US").format(supportStaff.getDateRemoved()) : ""%></td>
                    </tr>
                    <%
                    })
                    %>
                </table>
            </div>
        </div>

        <div id="caseNotes" class="tabcontent">
            <div class="caseNotes">
                <table id="caseNoteTable" class="caseNoteTable" data-clientid="<%= locals.theClient.getClientID() %>">
                    <tr>
                        <th>Subject</th>
                        <th>Date</th>
                        <th>Posted By</th>
                        <th>Program</th>
                    </tr>
                    <% caseNotes.forEach((caseNote) => { %>
                    <tr id="caseNoteRow" class="lightHover clickableRow" data-noteid="<%=caseNote.getNoteID()%>" data-notecreator="<%=caseNote.getEmployeeSign()%>">
                        <td><%=caseNote.getSubject()%></td>
                        <td><%=new Intl.DateTimeFormat("en-US").format(caseNote.getDateCreated())%></td>
                        <td><%=caseNote.getEmployeeSign()%></td>
                        <td><%=caseNote.getProgram()%></td>
                    </tr>
                    <%
                    })
                    %>
                </table>
                <div class="caseNoteButtons">
                    <!-- Buttons for CaseNote Navigation, handled with caseNoteHandling.js -->
                    <input type="button" value="New" name="newCaseNote" id="newCaseNote"/>
                    <input type="button" value="View/Edit" name="vieweditCaseNote" id="vieweditCaseNote" disabled="disabled"/>
                    <input type="button" value="Download" name="downloadCaseNote" id="downloadCaseNote" disabled="disabled"/>
                    <input type="button" value="Delete" name="deleteCaseNote" id="deleteCaseNote" disabled="disabled"/>
                </div>
                <dialog id="dialogBox">
                    <p> Are you sure you would like to delete this case note?</p>
                    <div id="dialogButtons">
                        <button id="dialogBlack">Yes</button>
                        <button id="dialogWhite">No</button>
                    </div>
                </dialog>
            </div>
        </div>
    </div>
</div>
<footer class="caseNoteFooter">
    <button id="goBackButton" class="dimHover footerButton">Go Back</button>
    <!--div id="medReportButtonContainer"-->
        <button type="button" id="medReportButton" class="dimHover footerButton">Download Medical Report</button>
    <!--/div-->
    <button id="saveButton" class="dimHover footerButton">Save</button>
</footer>
<script src="../js/caseNoteHandling.js" defer="defer"></script>
<script src="../js/tab.js" defer="defer"></script>
<script src="../js/medReport.js" defer="defer" ></script>
<script src="../js/saveClient.js" defer="defer"></script>
</body>