<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("fontLinks") -%>
    <title>Search Results</title>
    <link href="../css/style.css" rel="stylesheet" type="text/css">
</head>
<body>

<%- include("header") -%>

<div id="resultsBox" class="">
    <table>
        <thead>
        <tr>
            <th scope="col">Photo</th>
            <th scope="col">First Name</th>
            <th scope="col">M.I.</th>
            <th scope="col">Last Name</th>
            <th scope="col">Pronouns</th>
            <th scope="col">Gender</th>
            <th scope="col">Phone</th>
            <th scope="col">Email</th>
            <th scope="col">Date of Birth</th>
            <th scope="col">Programs</th>
            <th scope="col">PoS Status</th>
        </tr>
        </thead>
        <!-- If there are Clients to display, show them! -->
    <% if (locals.clientList && Array.isArray(clientList) && clientList.length > 0){ %>
        <tbody id="clientTableBody">
            <% clientList.forEach((current) => { %>
                <tr id="clientRow" class="lightHover" data-id="<%= current.getClientID() %>">
                    <td><img width="256" alt="Picture of <%= current.getFirstName() %>"
                             src="<%= current.getPictureURL() %>">
                    </td>
                    <td><%= current.getFirstName() %></td>
                    <td><%= current.getMiddleName().length > 0 ? current.getMiddleName().charAt(0) + "." : "" %></td>
                    <td><%= current.getLastName() %></td>
                    <td><%= current.getPronouns() %></td>
                    <td><%= current.getSex() %></td>
                    <td><%= current.getPhoneNumber() %></td>
                    <td><%= current.getEmail() %></td>
                    <td>
                        <% if(current.getDOB() instanceof Date){ %>
                            <%= current.getDOB().toLocaleDateString("en-US") %>
                        <%}else { %>
                            <%= current.getDOB() %>
                        <%} %>
                    </td>
                    <td>
                        <% Array.from(current.getPrograms()).forEach((currProgram) => { %>
                            <%=currProgram.getName()%><br/>
                        <% }) %>
                    </td>
                    <%  const daysDiff = current.getPOS() instanceof Date ? Math.ceil((current.getPOS().getTime() - Date.now()) / (1000 * 3600 * 24)) : "";
                        if (current.getPOS() === ""){ %>
                        <td class="expired">Not on File</td>
                    <% } else if ( daysDiff === 0 ) { %>
                        <td class="expired">Expires Today</td>
                    <% } else if (daysDiff < 0) { %>
                        <td class="expired">Expired on <%= current.getPOS().toLocaleDateString("en-US") %></td>
                    <% } else { %>
                        <td>Good until <%= current.getPOS().toLocaleDateString("en-US") %></td>
                    <% } %>
                </tr>
            <% }) %>
        </tbody>
    </table>
    <% }
    else { %>
        </table>
        <p>No search results found!</p>
    <% } %>
</div>
<footer>
    <button id="goBackButton" class="dimHover footerButton">Go Back</button>

    <div id="pageChanger">
        <button type="button" id="prevButton">← Previous</button>
        <button type="button" id="nextButton">Next →</button>
    </div>
    <!-- Probably going to need JavaScript to make this button work nicely -->
    <button id="selectButton" class="dimHover footerButton">Select</button>

</footer>
<script src="../js/resultsScript.js"></script>
</body>

</html>
